{
  "env": {
    "development": {
      "plugins": [
        "flow-runtime",
        "syntax-flow",
        "transform-flow-strip-types"
      ]
    },
    "production": {
      "plugins": [
        "syntax-flow",
        "transform-flow-strip-types"
      ]
    }
  },
  "plugins": [
    "add-module-exports"
  ],
  "presets": [
    "es2015",
    "stage-0"
  ]
}
